/*color variables*/
:root {
  --navbar: #ffffff;
  --web: #3273dc;
  --head: #3273dc;
  --accent: #0f54c2;
  --copy: #e9e9e9;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  flex-wrap:wrap-reverse;
  
  /* color: #000000; */
}

/*header //////////////////////////////////////////////*/
.head, footer {
  font-size: 500%;
  color: var(--copy);
  background-color: var(--head);
  margin-left: 2%;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  position: absolute;
  z-index: 1;
}
.sub {
  color: var(--copy);
  display: inline-flex;
  margin-left: 2%;
  margin-top: 10%;
}
#home {
  background-color: var(--head);
}
/* profile stand-in */
.profile {
 height: 100%;
  
}
.social-media {
  width: 5%;
  height: 5%;
}
section {
  padding-top: 55px;
  padding-bottom: 55px; 
  padding: 3rem 1.5rem;  
}

/* main content in the page - styles */
body {
  color: var(--copy);
  line-height: 200%;
  display: flex;
  /* background-image: ".assets/images/wall.jpg"; */
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--copy);
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  flex-direction: column;
}
/* heading design */
h2 {
  color: var(--copy);
  font-size: 350%;
  text-align: center;
  flex-wrap: wrap;
  font-size: 35px;
  font-weight: bolder;
}
h3,
h4 {
  color: #000000;
  text-align: center;
  flex-wrap: wrap;
  font-size: 35px;
  font-weight: bolder;
}

.intro {
  color: var(--copy);
  display: grid;
  flex-direction: center;
  position: center;
  margin-left: 15%;
  margin-right: 15%;
}

.columns:not(.is-desktop) {
  display: flex;
}
.columns.is-gapless {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}
.columns:last-child {
  margin-bottom: -0.75rem;
}
.columns {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
}
/* text under About me section */
p {
  margin-right: 60px;
  margin-left: 60px;
  font-style: italic;
  text-align: center;
}

.accent-copy {
  color: var(--copy);
}
/*NAV BAR STYLINGS */
.navbar.is-link {
  background-color: #000000;
  color: #fff;
}
.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(0, 0, 0);
}
/* nav text */
nav a {
  flex-direction: row;
  display: flex;
  text-align: end;
  margin: 25px;
  text-decoration: none;
  color: var(--navbar);
  font-weight: lighter;
  z-index: 3;
}

/* PROJECT IMAGES */

.web-img {
  width: 20%;
  height: 10%;
  margin: 2%;
  /* display: grid; */
  justify-content: column;
  overflow: hidden;
}
#img {
  background-color: var();
}
nav a:hover {
  color: var(--accent);
  font-style: italic;
}
.has-same-height .card{
  height: 355px;
  overflow: hidden;
}

.card-content h3 {
  text-align: center;
}

.table-profile td,
th {
  border: none !important;
}

.table-profile td:first-of-type {
  font-weight: bold;
}

.skills-content .media {
  margin: 0 !important;
  padding: 4px !important;
  border: 0 !important;
}

.skills-content .progress {
  height: 4px !important;
}

.custom-tags {
  text-align: center !important;
  display: block;
}

.portfolio-container .card {
  margin-bottom: 2em;
}

.section-heading {
  text-align: center;
  margin-bottom: 6em;
}
footer {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(0, 0, 0);
}
/*MEDIA VIEWPORTS */
/* mobile */
